<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--<add key="DBConnectionString" value="Data Source=103.12.1.74;Initial Catalog=SSXImport; UID=SSXImport;Password=7x?SHQx?YU-GXHrd; Connect Timeout=120"/>-->
		<!--<add key="DBConnectionString" value="server=127.0.0.1; user=root;database=ssximport; password=Hz3JrYmZk3_R"/>-->
		<add key="DBConnectionString" value="server=workflow-instance-1.ctapoem2r9ll.us-west-2.rds.amazonaws.com; user=admin;database=ssximport; password=55xAdm1n."/>
		<add key="APIAuthUsername" value="uLybAHMosNYWSbm52vBX"/>
		<add key="APIAuthPassword" value="yTniDwFcSgyB8oKEons0CiKU6QJU5s"/>
		<add key="WebHostingURL" value="https://localhost:44361"/>
	</appSettings>
</configuration>