<div class="info-header">
    <div class="row mb-1 mt-1 ">
        <div class="col-md-12">
            <h2 class="info-title">
                John Smith  <small class="ml-3 info-sub-title">Java Programmer</small>
                <span class="ibox-tools">
                    <a class="collapse-link-header">
                        <i class="fa fa-chevron-up"></i>
                    </a>

                </span>
            </h2>
        </div>
    </div>
    <div class="row info-header-content">
        <div class="col-md-12">

            <div class="profile-info profile-no-image">

                <div class="row">
                    <div class="col-md-3 col-sm-6 mt-2">
                        <div>
                            <span><i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                        </div>
                        <div>Bechelor</div>
                        <div>Phoenix, NZ</div>
                    </div>
                    <div class="col-md-3 col-sm-6 mt-2">
                        <div class=" title-date">5/24/2020</div>
                        <div><i class="title-date fa fa-phone"></i> (123) 456-7890</div>
                        <div><i class="title-date fa fa-envelope"></i> noreply@aps2k.com</div>
                    </div>
                    <div class="col-md-3 col-sm-6 mt-2">
                        <div>Job ID <strong>#703</strong> (Closed)</div>
                        <div> Can ID <strong>#6637</strong></div>
                        <div> Submit to Client</div>
                    </div>
                    <div class="col-md-3 col-sm-6 mt-2">
                        <div>6/25/2004</div>
                        <div>
                            <i class="fa fa-facebook-square"></i>  <i class="fa fa-twitter-square"></i>
                            <i class="fa fa-linkedin-square"></i>
                        </div>
                        <div>
                            <i class="fa fa-thumbs-o-up"></i>
                            <i class="fa fa-star-o "></i>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>