<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="APIAuthUsername" value="uLybAHMosNYWSbm52vBX"/>
		<add key="APIAuthPassword" value="yTniDwFcSgyB8oKEons0CiKU6QJU5s"/>
		<add key="APIHostingURL" value="https://localhost:44368/api/"/>
		<!--<add key="APIHostingURL" value="http://192.168.1.41:8080/"/>-->
		<!--<add key="APIHostingURL" value="http://ssxapi.smartsearch.plus/api/"/>-->
		<!--<add key="APIHostingURL" value="http://search8.smartsearchonline.com/ssximportapi/api/"/>-->

		""

		<add key="SSXSnapInAPIAuthUsername" value="admin@ssxsnapin.com"/>
		<add key="SSXSnapInAPIAuthPassword" value="5rTM#KLaCmg1QLRji"/>
		<add key="SSXSnapInAPIHostingURL" value="http://snapin.grpsys.com/"/>
  
 <add key="AWSBucketName" value="ssx-dashboard-reports" />  
	<add key="AWSAccessKey" value="AKIAUYPEKBVQLADG3DOP" />  
	<add key="AWSSecretKey" value="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" />  
	</appSettings>
</configuration>