<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	autoReload="true" 
	internalLogLevel="info" 
	internalLogFile="InternalLog.log">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<targets>
		<target xsi:type="File" 
			name="GeneralLogsData" 
			fileName="${var:GeneralLogDir}/SSXImport.Portal-${shortdate}.${level}.log" 
			layout="${longdate}|IP: ${aspnet-request-ip}|${logger}|action: ${aspnet-mvc-action}|${callsite:className=false:fileName=false:includeSourcePath=false:methodName=true}|${message} ${exception:format=tostring}" 
		/>
	</targets>
	<rules>
		<logger name="SSXImport.*" minlevel="Trace" writeTo="GeneralLogsData" >
		</logger>
	</rules>
</nlog>
