@*<div class="col-md-12" id="divChartBranchList">
    <h2 class="dropbox-title d-block">Select Branch</h2>
</div>*@


<div class="row">
    <div class="col-md-12" id="divChartBranchList">
        <h2 class="dropbox-title d-block">Select Branch</h2>
    </div>
</div>
<div class="filter-action">
    <button class="btn btn-primary btn-small">Apply</button>
</div>